Kodi
kodi.png
Kodi
kodi-standalone

Moonlight
moonlight.png
System Mesa
QT_SCALE_FACTOR=3 /home/martijn/moonlight-qt/app/moonlight
Local Mesa Debug
QT_SCALE_FACTOR=3 meson devenv -C /home/martijn/mesa/build /home/martijn/moonlight-qt/app/moonlight
Local Mesa Debug
QT_SCALE_FACTOR=3 meson devenv -C /home/martijn/mesa/build /home/martijn/moonlight-qt/app/moonlight

Sway
sway.svg
sway

Shutdown
shutdown.png
Shutdown
shutdown -P 0

Reboot
reboot.png
Reboot
sudo reboot

