Kodi
kodi.png
Kodi
kodi-standalone

Moonlight
moonlight.png
System Mesa
/home/martijn/moonlight-qt/app/moonlight
Local Mesa Debug
meson devenv -C /home/martijn/mesa/build /home/martijn/moonlight-qt/app/moonlight
Local Mesa Release
meson devenv -C /home/martijn/mesa/build_release /home/martijn/moonlight-qt/app/moonlight

Sway
sway.png
Sway
sway

Shutdown
shutdown.png
Shutdown
shutdown -P 0

Reboot
reboot.png
Reboot
sudo reboot

